
.confirmModal{
  font-size: .75rem;
  margin-top: 2rem;
  width: 70%;
  height: 20%;
  min-height: 6.5rem;
  max-height: 8rem;
  max-width: 25rem;
  background-color: white;
  border-radius: .25rem;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.4);
  position: relative;
}

.fadeIn{
  animation: fadeInAnimate .5s forwards;
}

.fadeOut{
  animation: fadeOutAnimate .5s forwards;
}


.confirmModal__closeIcon{
  position: absolute;
  right: 0;
  top: 0;
  width: 1.75rem;
  height: 1.75rem;
  cursor: pointer;
  border-radius: 50%;  
  border-top-right-radius: .25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff042dad;

}

.confirmModal__closeIcon img{
  width: .5rem;
}
.confirmModal__closeIcon:hover{
  background-color: #ff042dad;
}

.confirmModal__title{
  font-size: .5rem;
  padding: 1rem;
  text-align: center;
  margin-top: 1rem;
}

.confirmModal__buttons{
  position: absolute;
  bottom: .75rem;
  right: 1rem;
}

.confirmModal button {
  margin-left: .5rem;
  width: 2.25rem;
  height: 1.25rem;
  font-weight: bolder;
  font-size: .5rem;
  vertical-align: middle;
  border-radius: .25rem;
  border: none;
  outline: none; 
  cursor: pointer;
}
.confirmModal button span{
  font-weight: bolder;
  font-size: .5rem;
  vertical-align: middle;
}


.confirmModal .oui{
  background-color: red;
  color: white;
}

/* Keyframes */
@keyframes fadeInAnimate{
  0%{
    transform: translateY(-20rem);
  }
  100%{
    transform: translateY(0rem);
  }
}

@keyframes fadeOutAnimate{
  0%{
    transform: translateY(0rem);
  }
 100%{
  transform: translateY(-20rem);
 }
}




/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px){

  .confirmModal__closeIcon{
    width: 2.5rem;
    height: 2.5rem;
    background: none;
  }
  
  .confirmModal__closeIcon img{
    width: .75rem;
  }
  .confirmModal__closeIcon:hover{
    background-color: #ff042dad;
  }
  
  .confirmModal__title{
    font-size: .55rem;
  }

  .confirmModal__buttons button {
    width: 2.75rem;
    height: 1.5rem;
  }
  .confirmModal__buttons button span{
    font-size: .55rem;
  }
  
}
