/* Mobile design */
.CRUD__content {
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 56.25rem;
  padding: .75rem;
}

/* search and add */
.CRUD__search__add {
  width: 100%;
  margin-top: .25rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.CRUD__Input {
  max-width: 15rem;
}

.CRUD__content__addIcon {
  margin-right: .5rem;
  width: 2rem;
  height: 2rem;
  fill: #009879;
}

.CRUD__content__addIcon .svg {
  width: .9rem;
  height: .9rem;
}

.createModal__Input {
  width: 80%;
  height: 1.75rem;
  padding-left: .25rem;
  border-radius: .5rem;
  font-size: .75rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.822);
}




/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {

  .CRUD__search__add {
    margin-top: .35rem;
  }

  .CRUD__Input {
    max-width: 20rem;
    height: 2rem;
  }

  .CRUD__content__addIcon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .CRUD__content__addIcon .svg {
    width: 1rem;
    height: 1rem;
  }
}