/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  padding: .0 .15rem;
  background-color: var(--white-color);
  z-index: 100;
  transition: all .5s ease-in-out;
  user-select: none;
}

.nav__closeIcon,
.nav__menuIcon {
  margin-left: .25rem;
  width: 2.5rem;
  height: 2.5rem;
}

.nav__menuIcon .svg {
  width: 1rem;
  height: 1rem;
  fill: #4723D9;
}

.nav__closeIcon .svg {
  width: .75rem;
  height: .75rem;
  fill: #4723D9;
}


/* apply on js */
/* move menuIcon onClick by adding padding left */
.menuIcon__toggled {
  padding: 0 calc(var(--nav-width) + 0.15rem);
}

/*===== NAV =====*/
.l-navbar {
  position: fixed;
  top: 0;
  left: -20%;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--first-color);
  padding: .5rem;
  transition: all .5s ease-in-out;
  z-index: 110;
}

.nav {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.nav__link,
.nav__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  user-select: none;
}

.nav__logo {
  height: 3rem;
  margin-bottom: 2rem;
  position: relative;
}

.nav__logo__active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: .75rem;
  width: 50%;
  height: .25rem;
  background-color: var(--white-color);
  border-radius: 3rem;
}

.nav__logoIcon {
  width: 3rem;
}

.nav__link {
  margin-bottom: 2.25rem;
  padding: 0 .7rem;
}

.nav__link:hover>.nav__Icon,
.nav__link:hover>.nav__name {
  fill: #ffffff;
  color: #ffffff;
}

.nav__Icon {
  width: 1.15rem;
  height: 1.15rem;
  pointer-events: none;
  fill: #AFA5D9;
}

.nav__name {
  color: var(--first-color-light);
  margin-left: 1.5rem;
  font-weight: bold;
}

/* apply on js */
/*Show navbar movil*/
.show {
  left: 0;
}

.nav__Icon__active {
  fill: #ffffff;
  color: #ffffff;
}

.nav__active::before {
  content: '';
  position: absolute;
  left: 0;
  width: .175rem;
  height: 2.5rem;
  background-color: var(--white-color);
  border-radius: 3rem;
}

/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {

  /* Header */
  .header {
    padding: 0 calc(var(--nav-width) + .25rem);
  }

  .menuIcon {
    width: 1.25rem;
    height: 1.25rem;
    pointer-events: none;
  }

  .nav__closeIcon,
  .nav__menuIcon {
    width: 3rem;
    height: 3rem;
  }

  .nav__menuIcon .svg {
    width: 1.25rem;
    height: 1.25rem;
  }

  .nav__closeIcon .svg {
    width: .85rem;
    height: .85rem;
  }

  /* Navbar */
  .l-navbar {
    left: 0;
  }

  .nav__link {
    margin-bottom: 2.5rem;
  }

  .nav__Icon {
    width: 1.5rem;
    height: 1.5rem;
  }


  /* apply on js */
  .menuIcon__toggled {
    padding: 0 calc(var(--nav-width) + 10rem);
  }

  .nav__logo__toggle {
    justify-content: center;
  }

  .nav__logo__active::before {
    bottom: -.25rem;
    left: 4.5rem;
    width: 30%;
    text-align: center;
  }


  .nav__logoIcon__toggle {
    width: 4rem
  }

  /*Show navbar desktop*/
  .show {
    width: calc(var(--nav-width) + var(--navFull-width));
  }
}